[buildout]
parts =
    nodejs
    phantomjs
    phantomjs-bin
    pybot
    activate
find-links = http://packages.affinitic.be/simple
versions = versions

[versions]
robotframework = 2.5.7-st1

[nodejs]
recipe = gp.recipe.node
npms = xmlrpc socket.io@0.8.7 optimist coffee-script
scripts = node coffee
url = http://nodejs.org/dist/v0.6.11/node-v0.6.11.tar.gz

[phantomjs]
recipe = hexagonit.recipe.download
url = http://phantomjs.googlecode.com/files/phantomjs-1.4.1-macosx-static-x86.zip
strip-top-level-dir = true

[phantomjs-bin]
recipe = cns.recipe.symlink
symlink = phantomjs
symlink_base = ${buildout:parts-directory}/phantomjs/bin
symlink_target = ${buildout:bin-directory}

[pybot]
recipe = zc.recipe.egg
eggs = robotframework

[activate]
recipe = evg.recipe.activate
